@use '../utils' as *;

/*----------------------------------------*/
/*  2.2 Background
/*----------------------------------------*/

.tp-bg-grey{
    background: #F8F9F9;
}
.tp-bg-grey-2{
    background: #FBFBFB;
}
.plumbing-bg{
    background: #fffbf5;
}
.video-production-bg{
    background: #E9E9E9;
}
.pricing-bg{
    background: #EDEFEF;
}