$colors: (
    'common': (
        'white': #fff,
        'white-2': #f0f0f0,
        'black': #030303,
        'black-1': #10302a,
        'black-2': #0d0d0d,
        'black-3': #000,
        'black-4': #405955,
        'black-5': #111112,
        'black-6': #333333,
        'black-7': #121314,
        'yellow': #fff112,
        'yellow-2': #FFD500,
        'green': #00dd80,
        'green-2': #b4e717,
        'green-3': #d5ffdd,
        'blue': #5956e9,
        'blue-2': #7463ff,
        'nights': #7D5DFF,
        'meteor': #E62415, 
        'angry': #f14f44,
        'sugar ': #FFFBF5,
        'cream ': #b7ab98,
        'pink ': #eb5939,
        'red ': #ff481f,
    ), 
    'grey': (
        '1':#525252,
        '2':#999,
        '3':#f8f8f8,
        '4':#aaa,
        '5':#f3f1f2,
        '6':#AFB7B6,
        '7':#5c5c5c,
        '8': #101010,
    ),
    'theme': (
        'primary': #c4ee18,
        'secondary': #ff6d00,
        '1': #0752c5,
    ),
    'border': (
        '1': #eee,
        '2': rgba(51, 51, 51, 0.8),
        '3': rgba(255, 255, 255, 0.1),
    )
);


$white : #fff;
$black : #030303;
$theme-primary : #c4ee18;




// blue-2
// red